@import '../../../styles/variables';

.idle {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > img {
    position: absolute;
    top: -120px;
    width: 280px;
    height: 280px;
  }
  & > p {
    padding: 100% 40px 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: $color-grey;
  }
}
