@import '../../../../styles/variables';

.evolution {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 30px;
  & > p {
    font-weight: 600;
    font-size: 12px;
    background-color: $color-background;
    color: $color-grey;
    padding: 10px;
    border-radius: 30px;
  }
  & > div > img {
    width: 70px;
    height: 70px;
  }
}
