@import '../../../../styles/variables';

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-pagination;
  width: 100%;
  border-radius: 30px;
  & > span {
    height: 30px;
    width: 1px;
    border-right: 1px solid $color-grey;
  }
  &_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    & > span {
      font-weight: 600;
      font-size: 12px;
    }
    & > p {
      text-transform: capitalize;
      font-weight: 900;
      font-size: 12px;
      padding: 30px 5px;
    }
    & > img {
      height: 40px;
      width: 40px;
      padding: 0 5px;
    }
    & > svg {
      height: 26px;
      width: 26px;
      color: $color-grey;
    }
  }
}
