@import '../../../styles/variables';

.wrapper {
  &_typeList {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }
  &_typeItem {
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 10px;
    color: rgba($color: $color-text, $alpha: 0.7);
  }
}
